# LLM API Keys (OpenAI Key and Private Anthropic Key)
OPENAI_API_KEY=...
ANTHROPIC_API_KEY=...

# Additional API Key
# Tavily Search
TAVILY_API_KEY=...

# Optional for evaluation and tracing
# uncomment to set tracing to true when you set up your LangSmith account
# LANGSMITH_API_KEY=...
# LANGSMITH_TRACING=true
# LANGSMITH_PROJECT=learning-app
# LANGSMITH_ENDPOINT=https://eu.api.smith.langchain.com  # Europe

# Postgres data
# Examplary Postgres credentials
POSTGRES_USER="postgres"
POSTGRES_PASSWORD="<your-password>"
POSTGRES_DB="app"
POSTGRES_PORT=5433
